.word:hover  {
	cursor:pointer;
	color:blue;
}

.carousel-control.left, .carousel-control.right {
	background: none !important;
	filter: progid: none !important;
	outline: 0;
	position: fixed;
	top: 1em;
 }
.carousel .carousel-control {
	visibility: hidden;
}
.carousel:hover .carousel-control {
	visibility: visible;
}
.glyphicon-chevron-left, .glyphicon-chevron-right {
	color: black;
}

body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}